module.exports = {
  apps: [
    {
      name: 'Mantra',
      script: 'app.js',
      env: {
        DATABASE_URL: '',
        NODE_ENV: 'production',
        NODE_PORT: 4000,
        PGSCHEMA: 'mantra',
      },
      error_file: 'logs/api-error.log',
      out_file: 'logs/api-out.log',
      log_file: 'logs/api-combined.log',
    },
  ],
};
